
@{
    ViewBag.Title = "Commit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h4>ĐÃ THANH TOÁN THÀNH CÔNG </h4> </center> <br />
<br />
<h3>Tổng số tiền đã nhận  =@ViewBag.model.PaymentTotal</h3>
