
@{
    ViewBag.Title = "BookingResult";
    Layout = "~/Areas/GuestArea/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gentelella Alela! | </title>
    <link href="~/Assets/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
        <h1>Đặt Phòng thành Công</h1><br />
            <h3>Thông tin đặt phòng </h3>
            <label>Mã Đặt Phòng : @ViewBag.BookingID</label> <br />
            <label>Ngày Nhận Phòng: @ViewBag.DateCheckin</label><br />
            <label>Loại Phòng: @ViewBag.RoomType</label>
            @*<label>@ViewBag.Status</label>*@



        </div>
    </div>
</body>
</html>