<!DOCTYPE html>
@{
    Layout = "~/Areas/GuestArea/Views/Shared/_Layout.cshtml";
}


<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gentelella Alela! | </title>


</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
          

            <div class="right_col">
                <div class="page-title">
                    <div class="col-md6 col-sm-12 col-xs-12">
                     
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</body>
</html>
